<h1>Erreur de connexion</h1>
<label>Veuillez reessayer</label>
<a href="/"><button>Retour a la page de connexion</button></a>
<style>
    form {
        width: 40%;
        margin: 0 auto;
    }

    label, input, textarea {
        display: inline-block;
    }

    label, a{
        width: 30%;
        text-align: left;
    }

    label + input {
        width: 30%;
    }
</style>