<h1>Modifier un Vip</h1>
<div id="bloc_vip_article" class="articleDroite">
    <p class="vipNoire" style="color: white; font-size: 50px">VIP</p>
    <div>
        <h3><a href="/ajouterVip">+ Ajouter</a></h3>
        <h3><a href="/modifierVip"> Modifier</a></h3>
        <h3><a href="/modifierVip">x Supprimer</a></h3>
    </div>
</div>