<h1> Ajout d'une photo </h1>

{{#if checkAddPhoto}}
    <h2>La photo a bien été ajoutée !</h2>
{{/if}}
{{#if checkDelPhoto}}
    <h2>La photo a bien été supprimée ! </h2>
{{/if}}


{{#if checkAddVip}}
    <h2>Le VIP a bien été ajouté ! </h2>
{{/if}}
{{#if checkModVip}}
    <hZ>Le VIP a bien été modifié ! </hZ>
{{/if}}
{{#if checkDelVip}}
    <h2>Le VIP a bien été supprimé ! </h2>
{{/if}}